﻿@using AjaxChat.Models
@model ChatModel
<div id="RefreshArea">
    @{
        Html.RenderPartial("History", Model);
    }
</div>

@Ajax.ActionLink("ActionLink", "Index", new { user = "", logOn = "", logOff = "", chatMessage = "" },
new AjaxOptions { UpdateTargetId = "RefreshArea", OnSuccess = "ChatOnSuccess", OnFailure = "ChatOnFailure" },
new { @id = "ActionLink", @style = "visibility:hidden;" })





    
<div class="row">
    
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" id="txtMessage">
            <span class="input-group-btn">
                <button class="btn btn-default" id="btnMessage" value="Отправить" type="button">Отправить</button>
                <button class="btn btn-danger" id="btnLogOff" value="Выйти" type="button">Выйти</button>
                        </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->







